<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd HH:mm:ss.SSS} [%t] %-5level %c.%M:%L - %msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d{dd HH:mm:ss.SSS} [%t] %-5level %c.%M:%L - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- <Root level="warn">
      <AppenderRef ref="console"/>
      <AppenderRef ref="RollingFile"/>
    </Root> -->
	<logger name="com.adrutas" level="debug">
      <AppenderRef ref="console"/>
      <AppenderRef ref="RollingFile"/>
	</logger>
  </Loggers>
</Configuration>