<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Servlet with Annotations Application</display-name>

	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>

  <!-- <filter>
    <filter-name>FilterJunta</filter-name>
    <filter-class>com.adrutas.controller.FilterJunta</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>FilterJunta</filter-name>
    <url-pattern>/persona.html</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>FilterJunta</filter-name>
    <url-pattern>/apunte.html</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>FilterSocio</filter-name>
    <filter-class>com.adrutas.controller.FilterSocio</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>FilterSocio</filter-name>
    <url-pattern>/socios/*</url-pattern>
  </filter-mapping> -->
</web-app>